<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>Admin Dashbord</title>
  
     <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"/>
     <script src="/jquery/jquery.min.js"></script>
     <script src="/css/bootstrap/js/bootstrap.min.js"></script>
     <link href="/css/admin-dashboard-style.css" rel="stylesheet" />
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
   
    
<nav class="navbar navbar navbar-inverse navbar-light bg-light " style="margin-bottom:10px;margin-left: 160px;box-shadow: 4px 2px 8px #dbdbdb;>

<div class="navbar-header">
    <img class="logo justify-content-start" src="/../img/logo.svg"></span>
</div>




<ul class="nav">
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-user-circle" aria-hidden="true"></i> </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="/admin/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span>LogOut</span></a>
      </li>
</ul>


</nav>

<nav class="navbar custom-vertical-nav navbar-dark dashboard-nav-color nav-pills nav-fill">
  <ul class="navbar-nav custom-navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" >
        <span>CREATOR BIT</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin/dashboard"  style="color: white;" class="nav-link">
      	<i class="fa fa-home" aria-hidden="true"></i>
         <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item" >
      <a href="/admin/dashboard/show/users" style="color: white;" class="nav-link">
           <i class="fa fa-users" aria-hidden="true"></i>
        <span>User List</span>
      </a>
    </li>
    <li class="nav-item" >
      <a href="/admin/dashboard/show/campaign" style="color: white;" class="nav-link dash-nav-link">
         <i class="fa fa-th-large" aria-hidden="true"></i>        
         <span>Campaign List</span>
      </a>
    </li>
    
     <li class="nav-item" >
      <a href="/admin/dashboard/show/campaign-category" style="color: white;" class="nav-link">
         <i class="fa fa-list-alt" aria-hidden="true"></i>
         <span>Campaign Category</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/dashboard/show/feedback"style="color: white;" class="nav-link">
         <i class="fa fa-comments" aria-hidden="true"></i>
        <span>Feedback</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a href="/admin/dashboard/show/report/view" style="color: white;" class="nav-link">
            <i class="fa fa-file" aria-hidden="true"></i>
        <span>Reports</span>
      </a>
    </li>
   </ul>
</nav>
