<footer class="footer-container">
    <p class="about-us-short"> “CREATOR BIT” is a web-based online platform that focuses on the Creator
        (a creator can be a social media influencer) and Brands. Creator bit provides a
        platform where Brands and Creators Unite.
        The intention of this project is providing an online platform to the creators to
        make money and get campaign or collaborations and opportunities by providing
        their services, and Promoting Brands. “Creator Bit” is specially designed
        keeping in mind the social media influencer’s requirements. This platform
        offers brands to describe their intended campaign and find the ideal
        creator/influencer.</p>

    <div class="footer">
    <ul class="footer__nav">
        <li><a href="#">About us</a></li>
        <li><a href="#">Campaign</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <p class="footer__copyright">&copy; Creator Bit</p>
    </div>
</footer>
</html>