<header>
    <div id="nav-bar">
        <a class="logo">
            <img class="header__logo"
                 src="/img/logo.svg"
                 alt="creator bit"/></a>
        <div class="nav-menu">
            <div class="inner">
                <div class="options">


                    <div class="option">
                        <a href="/feedback">Feedback</a>
                    </div>


                    <div class="option">
                        <a href="">About Us</a>
                    </div>


                </div>
                <div class="ctas">
                    <a href="/login" class="crco-cta blue text">Login</a>
                    <a class="crco-cta blue text" href="/register">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</header>