<%- include('../user/partials/header.ejs',{title:'Login'}) %>
<%- include('../user/partials/public-head.ejs') %>

<body>
<main class="main">
    <div class="login-form">
        <h2 class="heading-secondary ma-bt-lg">Change Password</h2>
        <form class="form form--login">
            <div class="form__group">
                <label class="form__label" for="password">Password</label>
                <input class="form__input" id="password" type="text" placeholder="••••••••" required="required"/>
            </div>
            <div class="form__group">
                <label class="form__label" for="confirm-password">Confirm Password</label>
                <input class="form__input" id="confirm-password" type="text" placeholder="••••••••"
                       required="required"/>
            </div>

            <div class="form__group">
                <button class="btn btn--green">Submit</button>
            </div>
        </form>
    </div>
</main>


</body>
<%- include('../user/partials/footer.ejs') %>