<%- include('../user/partials/header.ejs',{title:'Feedback'}) %>
<%- include('../user/partials/head.ejs') %>
<body>
<main class="main mt-1">
    <div class="login-form">
        <h2 class="heading-secondary ma-bt-md">Submit Your Feedback</h2>
        <form class="form form--feedback" method="post" action="/feedback">
            <div class="form__group">
                <label class="form__label" for="fullName">Full Name</label>
                <input class="form__input" name="fullName" id="fullName" type="text" required="required"/>
            </div>

            <div class="form__group">
                <label class="form__label" for="mobileNo">Mobile No </label>
                <input class="form__input"  name="mobileNo" id="mobileNo" type="text"
                       required="required"/>
            </div>

            <div class="form__group">
                <label class="form__label" for="email">Email </label>
                <input class="form__input" name="email" id="email" type="text"
                       required="required"/>
            </div>


            <div class="form__group">
                <label class="form__label" for="message">Message </label>
                <textarea class="form__input" name="message" id="message" type="text"
                       required="required">

                </textarea>
            </div>


            <div class="form__group">
                <input type="submit" value="Submit" class="btn btn--green"></input>
            </div>
        </form>
    </div>
</main>


</body>
<%- include('../user/partials/footer.ejs') %>