<%- include('../user/partials/header.ejs',{title:'Login'}) %>
<%- include('../user/partials/public-head.ejs') %>

<body>
<main class="main">
    <div class="login-form">
        <h2 class="heading-secondary ma-bt-lg">Forgot Password</h2>
        <form class="form form--login">
            <div class="form__group">
                <label class="form__label" for="email">Email address</label>
                <input class="form__input" id="email" type="email" placeholder="you@example.com" required="required"/>
            </div>

            <div class="form__group">
                <button class="btn btn--green">Submit</button>
            </div>
        </form>
    </div>
</main>
</body>
<%- include('../user/partials/footer.ejs') %>