<nav class="user-view__menu">

  <div class="user-side-nav-container">

    <img class="user-photo" src="<%= locals.user.profilePicture  %>" alt="User photo">

    <p class="role"> <%= locals.user.role %> </p>

    <p class="username"> Hello , <%= locals.user.name.toUpperCase() %> </p>

  </div>

  <ul class="side-nav">

    <li  class="side-nav--active">
      <a href="<% if ( locals.user.role === 'CREATOR'){ %> /campaign-application <% } else { %> /campaign/brand <%}%>">
        <svg>
          <use xlink:href="../img/icons.svg#icon-briefcase"></use>
        </svg>
        My Campaigns</a>
    </li>

  <% if (locals.user && locals.user.role === 'BRAND'){ %>
    <li>
    <a href="/campaign-application/manage">
      <svg>
        <use xlink:href="../img/icons.svg#icon-briefcase"></use>
      </svg>
        Campaigns Applications</a>
    </li>

    <% } %>

    <% if (locals.user && locals.user.role === 'CREATOR'){ %>

    <li>
      <a href="/bank-detail">
        <svg>
          <use xlink:href="../img/icons.svg#icon-credit-card"></use>
        </svg>
        Billing</a>
    </li>

    <% }%>

    <li>
      <a href="/my-profile">
        <svg>
          <use xlink:href="../img/icons.svg#icon-settings"></use>
        </svg>
       Account Settings</a>
    </li>
  </ul>
</nav>