:root {
    --section-rotate: 9vw;
}


::selection {
    background-color: #55c57a;
    color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h2 {
    margin: 6px -22px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.user-info h2 {
    text-align: center;
}

.social-media .social-media-links p {
    margin: -7px -7px;
}

.social-media .social-media-links {
    flex-direction: row;
}

.user-profile .user-info .social-media h2 {
    font-size: 2rem;
}

.social-media {
    display: flex;
    font-size: 1.3rem;
    gap: 4rem;
    justify-content: center;
    padding: 0 36px;
}

.social-media .social-media-links img {
    width: 41px;
}


.user-profile .user-info p.bio {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
}

.user-profile .user-info p.name {
    font-size: 2rem;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #767676;
}

.user-profile .user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-profile .user-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 50%;
}

.user-info p.sub-heading {
    font-weight: 500;
    font-size: 1.5rem;
}

.profile-container .user-profile .user-info img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: -16px;
    margin-top: 25px;
    border-radius: 50%;
}

.bank-detail {

}

.profile-container .user-profile {
    box-sizing: border-box;
    border-radius: 10px;
}

.profile-container {
    display: flex;
    justify-content: center;
}

html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #777;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}



.main {
    background-color: #f7f7f7;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.span-all-rows {
    grid-row: 1 / -1;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.ma-bt-md {
    margin-bottom: 2rem !important;
}

.ma-bt-lg {
    margin-bottom: 3.5rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.right {
    text-align: right !important;
}

.line {
    margin: 6rem 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.divider {
    margin: 2rem 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color: #20bf6b;
}

.alert--error {
    background-color: #eb4d4b;
}

.heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#7dd56f),
            to(#28b487)
    );
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
}

.heading-secondary--error {
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#ff7730),
            to(#eb4d4b)
    );
    background-image: linear-gradient(to right, #ff7730, #eb4d4b);
    font-size: 3.5rem;
}

.heading-primary,
.heading-tertirary {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.heading-primary span,
.heading-tertirary span {
    padding: 1rem 1.5rem;
    line-height: 1;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(rgba(125, 213, 111, 0.85)),
            to(rgba(40, 180, 135, 0.85))
    );
    background-image: linear-gradient(
            to bottom right,
            rgba(125, 213, 111, 0.85),
            rgba(40, 180, 135, 0.85)
    );
}

.heading-primary {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
}

.heading-tertirary {
    font-size: 1.2rem;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 2px;
    width: 70%;
    z-index: 10;
}

.btn,
.btn:link,
.btn:visited {
    font-size: 1.6rem;
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*Add later when we use this for the button in form*/
    border: none;
    cursor: pointer;
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
    background-color: #2e864b;
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

.btn--green {
    background-color: #55c57a;
    color: #fff;
}

.btn--green::after {
    background-color: #55c57a;
}

.btn--small {
    padding: 0.8rem 2rem !important;
    font-size: 1.4rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
    background-color: #55c57a;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.25rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    border: none;
}

.btn-small:hover {
    background-color: #7dd56f;
}

.btn-text:link,
.btn-text:visited {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.btn-text:active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
    outline: none;
    outline: 3px solid #55c57a;
    outline-offset: 3px;
}

.header {
    background-color: #444;
    padding: 0 5rem;
    height: 8rem;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


@media only screen and (max-width: 62.5em) {
    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}


.header__logo img {
    height: 3.5rem;

}

.logo img {
    height: 5rem;
}

@media only screen and (max-width: 62.5em) {
    .header__logo {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 1.5rem;
    }
}

.section-header {
    position: relative;
    height: 10vw;

}

.header__hero {
    height: 100%;
}

.header__hero-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -o-object-position: 50% 25%;
    object-position: 50% 25%;
}

.header__hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    opacity: 0.85;
}

.heading-box {
    position: absolute;
    bottom: 5vw;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.heading-box__group {
    color: #f7f7f7;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.heading-box__detail {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.heading-box__detail svg {
    margin-right: 0.8rem;
}

.heading-box__detail:not(:last-child) {
    margin-right: 4rem;
}

.heading-box__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    -webkit-filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}

.section-description {
    background-color: #fcfcfc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-description > * {
    padding: 3vw 3vw;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.description-box {
    padding: 3vh 3vh;
    margin-top: 5rem;
    text-align: center;
}

.description-box h {
    justify-content: center;
    text-align: center;
}

.description-box .description {
    margin-right: 5rem;
}

.description-box .description__text {
    font-size: 1.7rem;
}


.overview-box {
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.overview-box__group:not(:last-child) {
    margin-bottom: 7rem;
}

.overview-box__detail {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
}

.overview-box__detail svg {
    margin-right: 1.25rem;
}

.overview-box__detail:not(:last-child) {
    margin-bottom: 1.8rem;
}

.overview-box__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #55c57a;
}

.overview-box__label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.overview-box__text {
    text-transform: capitalize;
}

.overview-box__img {
    border-radius: 50%;
    height: 3.5rem;
    margin-right: 1.25rem;
}

.section-pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    position: relative;
    z-index: 1000;
}

.picture-box__img {
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 110%;
    object-fit: cover;
}

.picture-box__img--1 {
    padding-top: 15%;
}


.section-map {
    position: relative;
    height: 65rem;
    margin-top: calc(0px - var(--section-rotate));
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url('../../views/user/img/pin.png');
    background-size: cover;
    width: 32px;
    height: 40px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 25rem;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1.5rem !important;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}

.section-reviews {
    margin-top: calc(0px - var(--section-rotate));
    padding: calc(5rem + var(--section-rotate)) 0;
    position: relative;
    z-index: 1000;
    background: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(#7dd56f),
            to(#28b487)
    );
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    clip-path: polygon(
            0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%
    );
    -webkit-clip-path: polygon(
            0 var(--section-rotate),
            100% 0,
            100% calc(100% - var(--section-rotate)),
            0 100%
    );
}

.reviews {
    padding: 5rem 0;
    display: grid;
    grid-column-gap: 6rem;
    grid-auto-flow: column;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.reviews__card {
    width: 30rem;
    padding: 4rem;
    background-color: #f7f7f7;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    scroll-snap-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reviews:before,
.reviews:after {
    content: '';
    width: 2rem;
}

.reviews__avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.reviews__avatar-img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.reviews__user {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.reviews__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
}

.reviews__rating {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.reviews__star {
    height: 2rem;
    width: 2rem;
    margin-right: 1px;
}

.reviews__star--active {
    fill: #55c57a;
}

.reviews__star--inactive {
    fill: #bbb;
}

.section-cta {
    margin-top: calc(0px - var(--section-rotate));
    padding: 3rem;
    padding-bottom: 11rem;
    padding-top: calc(15rem + var(--section-rotate));
    background-color: #f7f7f7;
}

.cta {
    position: relative;
    max-width: 105rem;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding: 9rem 5rem 9rem 21rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}

.cta__img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
    box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}

.cta__img--logo {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    z-index: 10;
    -webkit-transform: translate(-35%, -50%);
    transform: translate(-35%, -50%);
}

.cta__img--logo img {
    width: 100%;
}

.cta__img--1 {
    -webkit-transform: translate(-10%, -50%) scale(0.97);
    transform: translate(-10%, -50%) scale(0.97);
    z-index: 9;
}

.cta__img--2 {
    -webkit-transform: translate(15%, -50%) scale(0.94);
    transform: translate(15%, -50%) scale(0.94);
    z-index: 8;
}

.cta__content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    grid-gap: 0.7rem;
    grid-auto-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cta__text {
    font-size: 1.9rem;
    font-weight: 400;
}

.user-view {
    background-color: #fff;
    min-height: 100vh;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-view__menu {
    -webkit-box-flex: 32rem;
    -ms-flex: 32rem 0 0px;
    flex: 32rem 0 0;
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
}


.user-view__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 7rem 0;
}

.user-view__form-container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem;
}

.footer {
    margin-top: 10px;
    background-color: #5bc879;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.75rem;
    justify-content: space-between;
}


.footer__logo {
    grid-row: 1 / 3;
    align-self: center;
}

.footer-container{
    padding: 4rem 6rem;
    background-color: #5bc879;
}

.footer__logo img {
    height: 3rem;
}

.footer__nav {
    list-style: none;
    display: flex;
    margin-left: -16px;
    margin-top: 20px;
}

.footer__nav li {
    margin-left: 1.5rem;
}

.footer__nav a {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none !important;
}

.footer__nav a:hover,
.footer__nav a:active {
    color: #55c57a;
}

.footer__copyright {
    justify-self: end;
    color: white;
    margin-top: 38px;
    font-weight: 600;
    font-size: 1.5rem;
}


.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;
}



.nav--tours {
    flex: 0 1 40%;
}



.nav--user {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.nav__el,
.nav__el:link,
.nav__el:visited {
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.nav__el:hover,
.nav__el:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black;
}

.nav__el:not(:last-child) {
    margin-right: 3rem;
}

@media only screen and (max-width: 37.5em) {
    .nav__el:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

.nav__el:focus {
    outline: none;
}

.nav__el--cta {
    padding: 1rem 3rem;
    border-radius: 10rem;
    border: 1px solid currentColor !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav__el--cta:hover {
    background-color: #f7f7f7;
    color: #777;
    text-shadow: none;
    border-color: #f7f7f7;
}

.nav__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 37.5em) {
    .nav__search {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 1.2rem;
    }
}

.nav__search-btn {
    background: none;
    border: none;
    margin-right: 0.8rem;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.nav__search-btn svg {
    height: 2rem;
    width: 2rem;
    fill: #f7f7f7;
}

.nav__search-input {
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #f7f7f7;
    padding-bottom: 3px;
    border-bottom: 1px solid #999;
    width: 18rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav__search-input::-webkit-input-placeholder {
    color: #999;
}

.nav__search-input:-ms-input-placeholder {
    color: #999;
}

.nav__search-input::-ms-input-placeholder {
    color: #999;
}

.nav__search-input::placeholder {
    color: #999;
}

.nav__search-input:focus {
    outline: none;
    width: 25rem;
    border-bottom: 1px solid currentColor;
}

.nav__user-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.side-nav {
    list-style: none;
}

.side-nav li {
    margin: 1rem 0;
    border-left: 0 solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.side-nav--active,
.side-nav li:hover {
    border-left: 4px solid #fff !important;
}

.side-nav--active a {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.side-nav a:link,
.side-nav a:visited {
    padding: 1rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.side-nav a:hover,
.side-nav a:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}

.side-nav svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: #f7f7f7;
    margin-right: 2rem;
}

.admin-nav {
    margin-top: 5.5rem;
}

.admin-nav__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
    border-bottom: 1px solid currentColor;
}

.card-container {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
}

.card {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card__header {
    position: relative;
}

.card__picture {
    position: relative;
    height: 23.5rem;
}

.card__picture-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(#7dd56f),
            to(#28b487)
    );
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    opacity: 0.7;
}

.card__picture-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.8rem;
    grid-column-gap: 2rem;
    padding: 2.5rem 3rem;
}

.card__sub-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / -1;
}

.card__text {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -1rem;
    margin-bottom: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 7.5rem;
}

.card__data {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: start;
    flex-wrap: nowrap;
}

.card__category {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    /* font-style: italic; */
    /* margin-top: -1rem; */
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: white;
    background: #8b8b8b;
    /* border: 2px solid; */
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.card__data svg {
    margin-right: 0.7rem;
}


.top-banner {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    background-image: linear-gradient(
            to bottom right,
            rgba(125, 213, 111, 0.85),
            rgba(40, 180, 135, 0.85)
    );
}

.top-banner .steps span {
    color: black;
    font-weight: 800;

    font-size: 1.5rem;
}


.top-banner .steps {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 80px;
}

.top-banner .sub-heading {
    color: black;
    font-size: 1.5rem;
    max-width: 650px;
    text-align: center;
    margin: 10px 0;
}

.top-banner .main-heading {
    color: black;
    font-weight: 900;
    font-size: 3rem;
}

.filter-container {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;

    background: #f8f8f8;
    margin: auto auto 30px auto;
    border-bottom: 2px solid #e6e6e6;
    position: sticky;
    z-index: 100;
    top: 0;
    padding-bottom: 10px;
}

header #nav-bar {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin: auto;
    position: relative;
    box-shadow: 2px 1px 7px;
    margin-bottom: 0.7rem;
}

.filter-container .fiter-item span {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;

}

header #nav-bar .logo {
    max-width: 150px;
}

header #nav-bar .nav-menu {
    transition: none;
    position: static;
    height: auto;
    border-top: 0;
    width: auto;
}

header #nav-bar .nav-menu .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header #nav-bar .nav-menu .options {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    align-items: center;
}


header #nav-bar .nav-menu .ctas img {
    vertical-align: middle;
    height: 15px;
    width: auto;
    margin-right: 10px;
}


header #nav-bar .nav-menu .options .option a img {
    height: 20px;
}

.crco-cta.blue.secondary {
    color: #55c57a;;
    background-color: transparent;
}

.crco-cta.blue {
    color: #fff;
    background-color: #55c57a;
    border: 2px solid #57c67a;
    border-radius: 29px;
}

.filter-container .fiter-item img {
    margin: 0 0 3px 10px;
    height: 6px;
}

header #nav-bar .nav-menu .ctas a {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0;
    padding: 6px 20px;
    margin-left: 20px;
    text-decoration: none;
}


header #nav-bar .nav-menu .ctas {
    padding: 0;
    display: block;
    margin: auto;

    font-weight: 800;
}

header #nav-bar .nav-menu .inner {
    flex-direction: row;
}

header #nav-bar .nav-menu .options .option {
    margin: 0 24px 0 0;
}


header #nav-bar .nav-menu .options .option {
    text-align: center;
    margin: 20px;
    transition: 0.2s ease-in-out;
    transition-delay: 0.2s;
}


header #nav-bar .nav-menu .options .option .features-menu .dropdown-title {
    color: #080830;
    font-size: 1rem;
    border-bottom: 2px solid #080830;
    transition: 0.2s ease-in-out;
    transition-delay: 0.2s;
}

.campaign-nav .filter-item {
    display: inline-block;
    padding: 8px;
    border: 2px solid #5bc879;
    padding: 5px 14px;
    border-radius: 20px;
}

.campaign-nav .campaign-title {
    padding: 0 2rem;
    height: 8rem;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 2px 4px 0px rgb(201 201 201);
    align-items: center;
    margin: 0px 10px 36px 1px;
}

.campaign-nav .filter-item span {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 10px;
    text-transform: uppercase;
}

header #nav-bar .nav-menu .options .option .features-menu .dropdown-title {
    border-bottom: 2px solid transparent;
}

header #nav-bar .nav-menu .options .option a {
    color: #080830;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 1.6rem;
    font-weight: 800;
}

.card__icon {
    color: black;
    height: 1.2rem;
    width: 2rem;
    fill: #55c57a;
}

.card__footer {
    background-color: #f7f7f7;
    padding: 1.5rem 2rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;
}

.card__footer-value {
    font-weight: 700;
}

.card__footer-text {
    color: #999;
}

.card-sub-heading {
    color: rgba(8, 8, 48, 0.76);
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.card .btn-small,
.card .btn {
    grid-row: 1 / 3;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
}

.error {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80rem;
    text-align: center;
}

.error__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.error__emoji {
    font-size: 3.75rem;
    margin-left: 1rem;
}

.error__msg {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 50rem;
    margin: 0 auto;
}


.login-form {
    margin: 20px auto;
    max-width: 55rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
}

.form__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #fff;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */
}

.form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
    color: #bbb;
}

.form__group:not(:last-child) {
    margin-bottom: 2.5rem;
}

.form__label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.form__photo-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
}

.form__user-photo {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;

}

.user-side-nav-container .user-photo {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    margin: 40px auto 0;

}

.user-side-nav-container p.username {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 0 1.5rem 1.5rem;
}

.user-side-nav-container p.role {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 1rem 1.5rem
}

.form__user-photo_container {
    border-radius: 50%;
    position: absolute;
    left: 37.5rem;
    top: 14rem;
}

.form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__upload:focus + label {
    outline: 3px solid #55c57a;
    outline-offset: 3px;
}

.form__upload + label {

    display: block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 0 0 0;
    cursor: pointer;
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 0.6rem rgb(0 0 0 / 15%);

}


.role-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.role-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 20px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 20px;
    color: #777777;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;

}


.campaign-nav {
    padding: 0 8rem;
}

.main-profile {
    max-width: 120rem;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    box-shadow: 2px 9px 8px #dbdbdb;
    border-radius: 24px;
}

.main-profile .profile-container {
    display: flex;
    flex-direction: column;
}

.campaign-container {
    margin: 0 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    gap: 20px 20px;
    padding: 20px 10px;
    background-color: white;
    height: fit-content;
    border: 1px solid #dbdbdb;
}

.campaign-container .campaign-image img {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
    margin: auto 0;
}

.campaign-container .campaign-header a {
    text-decoration-color: #5bc879;
    color: #5bc879;
    font-size: 1.3rem;
}

.campaign-container .campaign-header h3 {
    font-size: 1.5rem;
    text-overflow: ellipsis;
    margin-bottom: 0.3rem;
}


.campaign-container .campaign-header h3 {
    font-size: 1.5rem;
    text-overflow: ellipsis;
    margin-bottom: 0.3rem;
}

.campaign-container .campaign-header .description {

    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;

}

.campaign-container .application-status {
    border-radius: 100px;
    padding: 5px 15px;
    color: white;
    font-size: 1rem;
    margin: 0 0 0 30px;
    /*box-shadow: 5px 10px 10px #dbdbdb;*/
    cursor: pointer;

}

.campaign-container .application-status-brand{
    border-radius: 100px;
    padding: 5px 15px;
    color: white;
    font-size: 1rem;
    margin: 0 0 0 30px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.campaign-container .application-status-brand  option{
    border: none;
    width: 100px;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.campaign-container .rejected {
    background-color: rgba(255, 81, 0, 0.925) !important;
}


.campaign-container .pending {
    background-color: rgb(139 139 126 / 62%) !important;;
}


.campaign-container .completed, .accepted {
    background-color: #20bf6b !important;
}


.campaign-container h4 {
    font-size: 1.2rem;
    color: #000000b0;
}

.role-toolbar label:hover {
    background-color: #dfd;
}


.role-toolbar input[type="radio"]:checked + label {
    background-color: rgb(38, 214, 38);
    color: white;
    border-color: rgb(0, 0, 0);
}


.dropbtn {
    border: none;
    /* border: none; */
    font-size: 1.6rem;
    font-weight: 800;
    outline: none;
    cursor: pointer;
    background: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}


.nav-menu .create-btn a {
    color: white !important;
    /* border: 1px solid black; */
    border-radius: 25px;
    box-shadow: 4px 4px 8px #dbdbdb;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, rgba(125, 213, 111, 0.85), rgba(40, 180, 135, 0.85));
}

.category-top-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
}

.category-top-banner .sub-heading {
    color: white;
    font-size: 1.5rem;
    max-width: 650px;
    text-align: center;
    margin: 10px 0;
}

.category-top-banner .main-heading {
    color: white;
    font-weight: 900;
    font-size: 3rem;
}

.category-top-banner .no-of-campaign {
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
}


/*   Create Campaign */

.campaign-form {
    margin: 0 auto;
    max-width: 70%;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
}


.wrap-drop {
    background: #20bf6b;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
    /* margin:0 auto; */
    /* max-width:225px; */
    padding: 1rem;
    position: relative;
    /* width:75%; */
    border-radius: 6px;
    z-index: 3;
}

.wrap-drop::after {
    border-color: #f7f7f7 transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    content: "";
    height: 0;
    margin-top: -4px;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 0;
}

.wrap-drop .drop {
    background: #f2f2f2;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    list-style: none;
    margin-top: 0;
    opacity: 0;
    padding-left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
}

.wrap-drop .drop li a {
    /* color: #080830; */
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.wrap-drop span {
    /* color:#928579; */
    color: white;
}

.wrap-drop .drop li:hover a {
    background-color: #20bf6b;
    color: #e7ded5;
}

.wrap-drop.active::after {
    border-width: 0 10px 10px;
}

.wrap-drop.active .drop {
    display: block;
    opacity: 1;
    pointer-events: auto;
    border-radius: 8px;
    margin-top: 7px;
}


/*End Of the Create Campaign*/

.platform-type {

    display: flex;
}


.platform p {
    font-size: 1.55rem;
    font-weight: 600;
}

.platform input[type = 'checkbox'] {
    position: relative;
    top: 0;
    left: -50px;
}

.platform img {
    width: 50px;
    height: 50px;
    margin: 0px 46px 0 0;
}

.campaign-date {
    display: flex;
    justify-content: space-between
}

.campaign-date input[type='datetime-local'] {
    font-size: 1.55rem;
    border-radius: 10px;
    background: #20bf6b;
    padding: 1rem;
    border: transparent;
    color: white;
    box-shadow: 3px 3px 9px #dbdbdb;
}

.bank-detail .bank-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bank-detail .bank-detail-label {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 2px;
    margin-left: -20px;
}

.bank-detail {
    margin-left: 53px;
}

.bank-detail .info:not(:last-child) {
    margin-bottom: 1.2rem;

}

.bank-detail .info label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.bank-detail .info p {
    font-size: 1.5rem;
    padding: 1.25rem 1.75rem;
    width: 100%;
    color: black;
    background-color: #55c57a;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.bank-detail {
    width: 50%;
}


.alert {
    border-radius: 15px;
    padding: 20px;
    background-color: #55c57a;
    color: white;
}


.error-alert {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 25, 25, 0.85);
    color: white;
}

.alert-message {
    position: absolute;
    top: 100px;
    width: 70% !important;
    z-index: 1000;
    font-weight: 800;
    font-size: 1.55rem;
    box-shadow: 11px 8px 19px #dbdbdb;
}


.closeBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeBtn:hover {
    color: black;
}

.about-us-short{
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
}
